@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar content sidebar";
  grid-template-columns: 1fr 3fr 1fr;
  /* height: 100vh; */
  line-height: 1.5;
  width: 100%;
}

nav,
main,
aside {
  border: 1px solid #f5f5f5;
  font-family: sans-serif;
  /* padding: 15px; */
}
header {
  grid-area: header;
  padding: 10px;
}

nav {
  grid-area: navbar;
}

main {
  grid-area: content;
  font-size: 16px;
}

aside {
  grid-area: sidebar;
}

a {
  font-size: 13px;
  text-decoration: none;
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 16px;
  background: #eff3f4;
  border: none;
  width: 210px;
}

input {
  border-radius: 999px;
  border: none;
  outline: none;
  background: #f7f9f9;
  padding: 7px;
  height: 40px;
}

input[type="search"] {
  font-size: 16px;
  text-align: left;
  /* border: 1px solid red; */
  /* margin-top: 9px; */
  margin-left: 40px;
}

@media (max-width: 1290px) {
  body {
    color: red;
    grid-template-areas:
      "header header header"
      "content content header";
  }
  nav {
    display: none;
    grid-area: navbar;
  }
  aside {
    display: none;
    grid-area: sidebar;
  }

  main {
    display: grid;
    /* grid-area: content; */
    font-size: 16px;
    border: none;
  }
}
/* #btn {
  float: right;
  padding: 10px;
  border-radius: 999px;
  border: 1px solid #ccc;
  outline: none;
  margin-top: 0;
  background: #fff;
  width: 2.5rem;
  position: relative;
  margin-left: 10px;
}

#btn:hover {
  cursor: pointer;
  background: #f5f5f5;
  transition: 1s;
}

button span {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  left: 4px;
  top: 3px;
  margin-bottom: 5px;
  background: #000;
  transition: 0.5s;
}

.theme-switch {
  display: flex;
  font-family: sans-serif;
  justify-content: end;
  align-items: center;
  font-size: 14px;
}

.slider span {
  left: 56%;
} */
